.Ll{

	visibility: hidden;

}
h4 {
	font-family: sans-serif;
}
h3 {
	font-family: sans-serif;
}
p {
	font-family: sans-serif;
}
a {
	font-family: sans-serif; color:#d15423; text-decoration:none;
}
#canvasOne{

	border: 2px solid black;
}
#add{

	display: block;
}

#up{
	display: none;
}
#down{
	display: none;
}
#left{
	display: none;
}
#right{
	display: none;
}
#supprimer{
	display: none;
}
input[type=text]{

	width: 30px;
}
